<section class="activities-section">
  <div class="container activities-section__container">
    <div class="activities-section__left">
      <img class="activities-section__img" src="img/map.svg" alt="">
    </div>
    <div class="activities-section__right">
      <h2 class="activities-section__title">ЧТО МЫ ДЕЛАЕМ</h2>
      <p class="activities-section__text">
        В настоящее время ООО «ТМН- ГРУПП УКРАИНА» представлено в 4 регионах Украины и продолжает расширение географии
        представительств.
      </p>
      <p class="activities-section__text">
        Благодаря инновационным и передовым технологиям, применяемым производителями наших перчаток, предлагаемая компанией
        продукция широко известна и востребована специалистами во всех областях современной медицины, команда менеджеров «ТМН-
        ГРУПП УКРАИНА» всегда готова оказать квалифицированную помощь в подборе и выборе товаров, в определении максимально
        выгодных условий работы.
      </p>
    </div>
  </div>
</section>


