<section class="advantage-section">
  <div class="container advantage-section__container">
    <div class="advantage-section__content">
    <div class="advantage-section__left">
      <h2 class="section-title">НАШИ <br> ПРЕИМУЩЕСТВА</h2>
    </div>
    <div class="advantage-section__right">
      <p class="advantage-section__text">
        Широкий ассортимент неопудренных и опудренных, латексных и синтетических, смотровых и хирургических, в том числе
        специализированных, перчаток производства WRP позволяет обеспечить наилучшую барьерную защиту для медицинского персонала
        всех специальностей.
      </p>
    </div>
    </div>
    <ul class="advantage-section__list list-reset">
      <li class="advantage-section__item advantage-section__item--1">
        <h6 class="advantage-section__title">Представлены в 4 регионах Украины</h6>
      </li>
      <li class="advantage-section__item advantage-section__item--2">
        <h6 class="advantage-section__title">Единая ценовая политика</h6>
      </li>
      <li class="advantage-section__item advantage-section__item--3">
        <h6 class="advantage-section__title">Наличие складов в <br> большинстве крупных городов страны</h6>
      </li>
      <li class="advantage-section__item advantage-section__item--4">
        <h6 class="advantage-section__title">Высокий <br> профессиональный уровень персонала</h6>
      </li>
    </ul>
  </div>
</section>
