<section class="article-section">
  <div class="container">
    <div class="article-section__content">
    <ul class="list-reset breadcrumbs">
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">Главная</a>
      </li>
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">Блог</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link">Защитные медицинские перчатки Radiaxon™ PI для специалистов с аллергией на
          натуральный латекс</a>
      </li>
    </ul>
    <h2 class="section-title article-section__title--big">
      Защитные медицинские перчатки Radiaxon™ PI для специалистов с аллергией на натуральный латекс
    </h2>
    <img class="article-section__img" src="img/article-section/article-img-1.jpg" alt="article-section-img">
    <p class="article-section__text ">
      Перчатки Radiaxon разработаны для специалистов, работающих в условиях рентгеновского облучения. Они защищают не
      только
      от инфекций, но и от отраженного или рассеянного излучения. В состав материала входят экранирующие добавки,
      которые
      нейтрализуют вредное воздействие рентгеновских лучей.
    </p>
    <div class="article-section-description article-section-block">
      <h3 class="article-section__title">Описание</h3>
      <p class="article-section__text article-section__text--mb-min">
      Radiaxon – перчатки, разработанные с учетом требований ICRP 60, касающихся снижения локальной дозы облучения. В основе
      защитного средства используется материал, обеспечивающий частичное поглощение опасных доз радиоактивного излучения.
      </p>
      <p class="article-section__text">
      Перчатки создаются без использования латекса и на 100 % состоят из синтетического материала – полиизопрена. Этот тип
      полимеров не вызывает аллергические реакции. Дополнительно в создании защитного средства применяется оксид висмута – эта
      экранирующая добавка обеспечивает непроницаемость и защиту от рентгеновских лучей. При этом в составе не содержится
      свинец и протеины латекса, даже в минимальных количествах.
      </p>
    </div>
    <div class="article-section-peculiarities article-section-block">
      <h3 class="article-section__title">Особенности</h3>
      <p class="article-section__text article-section__text--mb-min">
        Изделие абсолютно не токсичное, но надежно защищает от излучения. Перчатки имеют следующие преимущества:
      </p>
      <ul class="article-section__list list-reset">
        <li class="article-section__item">не снижают чувствительность и манипуляционную точность;</li>
        <li class="article-section__item">за счет текстурной поверхности не провоцируют скольжение инструментов даже во влажной среде;</li>
        <li class="article-section__item">компьютерная томография;</li>
        <li class="article-section__item">надежно фиксируются на руках, не рвутся при натяжении;</li>
        <li class="article-section__item">не содержат пудры, но за счет гладкой поверхности легко надеваются и снимаются.</li>
      </ul>
      <p class="article-section__text">
        Radiaxon соответствуют стандарту качества и требованиям директивы 89/686/EEC о персональной защите. Клинические тесты
        показали высокую эффективность в снижении вреда радиационного локального излучения.
      </p>
    </div>
    <div class="article-section-spheres article-section-block">
      <h3 class="article-section__title">Сферы применения</h3>
      <p class="article-section__text">
        Перчатки Radiaxon – надежное защитное средство для специалистов, которые не могут из-за аллергии использовать
        латексные
        модели. Применяются в таких сферах медицины:
      </p>
      <ul class="article-section__list list-reset">
        <li class="article-section__item">рентгеновские исследования;</li>
        <li class="article-section__item">ядерная медицина;</li>
        <li class="article-section__item">компьютерная томография;</li>
        <li class="article-section__item">ангиография;</li>
        <li class="article-section__item">маммография.</li>
      </ul>
      <p class="article-section__text">
        Защитные перчатки имеют анатомическую, универсальную форму. При использовании не снижают тактильную
        чувствительность
        пальцев. Удобная и прочная манжета с валиком надежно фиксирует защитное изделие на запястьях.
      </p>
    </div>
    <div class="article-section-usage article-section-block">
      <h3 class="article-section__title">Использование и правила хранения</h3>
      <p class="article-section__text">
        Производители предлагают упаковки по 5 пар. Размеры в диапазоне от 6,5 до 9. Хранить блок необходимо при
        температуре
        выше 0 градусов. Использовать по правилам:
      </p>
      <ul class="article-section__list list-reset">
        <li class="article-section__item">подбирать соответствующий размер;</li>
        <li class="article-section__item">снять при нарушении целостности материала;</li>
        <li class="article-section__item">утилизировать после однократного надевания;</li>
        <li class="article-section__item">не применять, если упаковка повреждена;</li>
        <li class="article-section__item">не надевать при выявлении аллергической реакции.</li>
      </ul>
      <p class="article-section__text">
        Нельзя превышать рекомендованный срок хранения. Граничную дату использования производитель указывает на
        упаковке.
      </p>
    </div>
    <div class="article-section-purchases article-section-block">
      <h3 class="article-section__title">Особенности покупки</h3>
      <p class="article-section__text">
        Компания «ТМН-ГРУПП УКРАИНА» реализует перчатки с сертификатами качества, мы проверяем все партии товара.
        Продукция
        соответствует международным условиям производства и использования. «ТМН-ГРУПП УКРАИНА» – подтвержденный
        представитель
        компании WRP (изготовителя). Мы несем ответственность за продукцию перед конечными потребителями и нашими
        непосредственными клиентами. Соблюдаем условия сотрудничества, постоянно совершенствуем технологии.
      </p>
    </div>
    </div>
  </div>
</section>
