<section class="basket-completed-section">
  <div class="container">
    <h2 class="section-title basket-completed-section__title">КОРЗИНА</h2>
    <ul class="basket-completed-section__list list-reset ">
      <li class="basket-completed-section__item all card-content__item card-item" data-id="01">
        <div class="basket-completed-section__img">
          <img class="basket-completed-section__img-image catalog-section__img-image" src="img/basket/basket-img-1.png" alt="img">
        </div>
        <div class="basket-completed-section-content">
          <h3 class="basket-completed-section-content__title catalog-section-content__title">
            ПЕРЧАТКА DERMAGRIP® ULTRA NITRILE LS POWDER FREE
          </h3>
          <p class="basket-completed-section-content__descr">
            Examination Gloves DERMAGRIP® NITRILE STERILE
          </p>
          <p class="basket-completed-section-content__text" data-items-in-box>
            <span>Применение:</span> все виды хирургических операций, аллергия на латекс, операции на условиях повышенного риска заражения
            инфекционными болезнями в т.ч. гепатит, ВИЧ
          </p>
          </div>
          <div class="basket-completed-section-info">
            <div class="basket-completed-section-sizes">
            <span class="basket-completed-section-sizes__size">Размер</span>
            <span class="basket-completed-section-sizes__value">6,5</span>
            </div>
            <div class="basket-completed-section-counter">
              <button class="basket-completed-section-counter__btn btn-plus btn-reset"></button>
              <label class="basket-completed-section-counter__label">
                <input class="btn-reset" type="hidden">
                <span class="basket-completed-section-counter__value">1</span>
              </label>
              <button class="basket-completed-section-counter__btn btn-minus btn-reset"></button>
            </div>
            <div class="basket-completed-section-money">
              <span class="basket-completed-section-money__price--new">225 ₴</span>
              <s class="basket-completed-section-money__price--old">325 ₴</s>
            </div>
          </div>
      </li>
    </ul>
    <div class="basket-completed-section-right">
      <button class="basket-completed-section-right__btn btn-reset">Обновить корзину</button>
      <div class="basket-completed-section-right__total total">
        <div class="total__info">
          <span class="total__text">Итого</span>
          <span class="total__price">1,300 грн.</span>
        </div>
        <button class="btn-fill total__btn btn-reset">Оформить заказ</button>
      </div>
    </div>

  </div>

</section>
