<section class="benefits-section">
  <div class="container benefits-section__container">
    <div class="benefits-section__left">
      <h2 class="section-title benefits-section__title-big">ПРЕИМУЩЕСТВА ПЕРЧАТОК</h2>
      <p class="benefits-section__descr">
        В медицинском и промышленном секторе
      </p>
      <div class="benefits-section__list-inner">
      <ul class="benefits-section__list list-reset">
        <li class="benefits-section__item benefits-section__item--icon-1">
          <h6 class="benefits-section__title">
            Низкий риск аллергий и дерматитов
          </h6>
        </li>
        <li class="benefits-section__item benefits-section__item--icon-2">
          <h6 class="benefits-section__title">
            Высокая прочность, стойкость к порезам и разрывам
          </h6>
        </li>
        <li class="benefits-section__item benefits-section__item--icon-3">
          <h6 class="benefits-section__title">
            Хорошая <br> эластичность
          </h6>
        </li>
        </ul>
        <ul class="benefits-section__list list-reset">
        <li class="benefits-section__item benefits-section__item--icon-4">
          <h6 class="benefits-section__title">
            Высокий уровень безопасности
          </h6>
        </li>
        <li class="benefits-section__item benefits-section__item--icon-5">
          <h6 class="benefits-section__title">
            Обеспечивают необходимую чувствительность рук
          </h6>
        </li>
        <li class="benefits-section__item benefits-section__item--icon-6">
          <h6 class="benefits-section__title">
            Экстурированная поверхность создает надежную фиксацию инструмента
          </h6>
        </li>
        </ul>
        </div>
    </div>
    <div class="benefits-section-right">
      <ul class="benefits-section-right__list list-reset">

        <li class="benefits-section-right__item benefits-section-right__item--img-1">
          <img class="benefits-section-right__img" src="img/benefits-section/img-1.jpg" alt="">
        </li>

        <li class="benefits-section-right__item benefits-section-right__item--img-2">
          <img class="benefits-section-right__img" src="img/benefits-section/img-2.jpg" alt="">
        </li>
        
        <li class="benefits-section-right__item benefits-section-right__item--img-3">
          <img class="benefits-section-right__img" src="img/benefits-section/img-3.jpg" alt="">
        </li>
      </ul>
      </div>
  </div>
</section>
