<section class="blog-section">
  <div class="container">
    <ul class="list-reset breadcrumbs page-hero__breadcrumbs">
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">Главная</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link">Блог</a>
      </li>
    </ul>
    <div class="blog-section__flex">
      <div class="blog-section__left">
        <h2 class="section-title blog-section__title">Блог</h2>
      </div>

    </div>
    <ul class="blog-section__list list-reset">
      <li class="blog-section__item">
        <div class="blog-section__img">
          <img src="img/blog-section/blog-img-1.jpg" alt="blog-img-1">
        </div>
        <div class="blog-section__content">
          <h5 class="blog-section__title-item">
            Особенности перчаток радиационной защиты
          </h5>
          <p class="blog-section__descr">
          Защита от вредного воздействия рентгеновского излучения – ключевой момент, которым нельзя пренебрегать. От этого зависит
          здоровье людей. Для радиационной защиты изготавливаются специальные перчатки. Это ..
          </p>
          <a class="blog-section__btn btn-fill" href="#">Подробнее</a>
        </div>
      </li>
      <li class="blog-section__item">
        <div class="blog-section__img">
          <img src="img/blog-section/blog-img-2.jpg" alt="blog-img-2">
        </div>
        <div class="blog-section__content">
          <h5 class="blog-section__title-item">
            Виды хирургических перчаток
          </h5>
          <p class="blog-section__descr">
            Как обеспечить защиту от инфекции во время проведения операции? Для этого предназначаются хирургические перчатки. Это
            средства индивидуальной защиты, отличающиеся надежностью и высоким качеством. Компания ..
          </p>
          <a class="blog-section__btn btn-fill" href="#">Подробнее</a>
        </div>
      </li>
      <li class="blog-section__item">
        <div class="blog-section__img">
          <img src="img/blog-section/blog-img-3.jpg" alt="blog-img-3">
        </div>
        <div class="blog-section__content">
          <h5 class="blog-section__title-item">
            Какие перчатки лучше всего использовать в гинекологии?
          </h5>
          <p class="blog-section__descr">
          Медицинские перчатки в гинекологии – залог здоровья медработника и пациента. Для больших организаций лучше всего
          закупать перчатки медицинские оптом от производителя..
          </p>

          <a class="blog-section__btn btn-fill" href="#">Подробнее</a>
        </div>
      </li>
      <li class="blog-section__item">
        <div class="blog-section__img">
          <img src="img/blog-section/blog-img-4.jpg" alt="blog-img-4">
        </div>
        <div class="blog-section__content">
          <h5 class="blog-section__title-item">
          Как ухаживать за кожей рук при длительном ношении перчаток?
          </h5>
          <p class="blog-section__descr">
          Длительное ношение медицинских перчаток точно не принесет пользы ваших рукам. Но иногда других вариантов нет, поэтому мы
          решили помочь вам найти выход. Начнем с того..
          </p>

          <a class="blog-section__btn btn-fill" href="#">Подробнее</a>
        </div>
      </li>
      <li class="blog-section__item">
        <div class="blog-section__img">
          <img src="img/blog-section/blog-img-5.jpg" alt="blog-img-5">
        </div>
        <div class="blog-section__content">
          <h5 class="blog-section__title-item">
            Правила утилизации медицинских перчаток
          </h5>
          <p class="blog-section__descr">
            По санитарно-гигиеническим нормам все медицинские, стоматологические и косметические компании обязаны правильно
            утилизировать медицинские перчатки. Все перчатки дермагрип, которые попадают в такие учреждения..
          </p>

          <a class="blog-section__btn btn-fill" href="#">Подробнее</a>
        </div>
      </li>
      <li class="blog-section__item">
        <div class="blog-section__img">
          <img src="img/blog-section/blog-img-6.jpg" alt="blog-img-6">
        </div>
        <div class="blog-section__content">
          <h5 class="blog-section__title-item">
          Появление медицинских перчаток. Непризнанная необходимость
          </h5>
          <p class="blog-section__descr">
            Невозможно представить в наше время, чтобы врач забыл про перчатки стерильные при осмотре пациента. Что уж говорить о
            разного рода операциях? Но так было не всегда. До изобретения ..
          </p>

          <a class="blog-section__btn btn-fill" href="#">Подробнее</a>
        </div>
      </li>
      <li class="blog-section__item">
        <div class="blog-section__img">
          <img src="img/blog-section/blog-img-4.jpg" alt="blog-img-4">
        </div>
        <div class="blog-section__content">
          <h5 class="blog-section__title-item">
            Как ухаживать за кожей рук при длительном ношении перчаток?
          </h5>
          <p class="blog-section__descr">
          Длительное ношение медицинских перчаток точно не принесет пользы ваших рукам. Но иногда других вариантов нет, поэтому мы
          решили помочь вам найти выход. Начнем с того..
          </p>

          <a class="blog-section__btn btn-fill" href="#">Подробнее</a>
        </div>
      </li>
      <li class="blog-section__item">
        <div class="blog-section__img">
          <img src="img/blog-section/blog-img-5.jpg" alt="blog-img-5">
        </div>
        <div class="blog-section__content">
          <h5 class="blog-section__title-item">
            Правила утилизации медицинских перчаток
          </h5>
          <p class="blog-section__descr">
            По санитарно-гигиеническим нормам все медицинские, стоматологические и косметические компании обязаны правильно
            утилизировать медицинские перчатки. Все перчатки дермагрип, которые попадают в такие учреждения..
          </p>

          <a class="blog-section__btn btn-fill" href="#">Подробнее</a>
        </div>
      </li>
      <li class="blog-section__item">
        <div class="blog-section__img">
          <img src="img/blog-section/blog-img-6.jpg" alt="blog-img-6">
        </div>
        <div class="blog-section__content">
          <h5 class="blog-section__title-item">
            Появление медицинских перчаток. Непризнанная необходимость
          </h5>
          <p class="blog-section__descr">
            Невозможно представить в наше время, чтобы врач забыл про перчатки стерильные при осмотре пациента. Что уж говорить о
            разного рода операциях? Но так было не всегда. До изобретения ..
          </p>

          <a class="blog-section__btn btn-fill" href="#">Подробнее</a>
        </div>
      </li>

    </ul>
      <div class="blog-section-tabs">
        <ul class="blog-section-tabs__list list-reset">
          <li class="blog-section-tabs__item">
            <a class="blog-section-tabs__link blog-section-tabs__link--arrow-left" href="#">
            </a>
          </li>
          <li class="blog-section-tabs__item">
            <a class="blog-section-tabs__link" href="#">1</a>
          </li>
          <li class="blog-section-tabs__item">
            <a class="blog-section-tabs__link blog-section-tabs__link--active" href="#">2</a>
          </li>
          <li class="blog-section-tabs__item">
            <a class="blog-section-tabs__link" href="#">3</a>
          </li>
          <li class="blog-section-tabs__item">
            <a class="blog-section-tabs__link" href="#">...</a>
          </li>
          <li class="blog-section-tabs__item">
            <a class="blog-section-tabs__link" href="#">7</a>
          </li>
          <li class="blog-section-tabs__item">
            <a class="blog-section-tabs__link" href="#">8</a>
          </li>
          <li class="blog-section-tabs__item">
            <a class="blog-section-tabs__link blog-section-tabs__link--arrow-right" href="#"></a>
          </li>
        </ul>
      </div>
  </div>
</section>

