<section class="categories-section">
  <div class="container">
    <h2 class="section-title">ВЫБИРАЙ СВОЮ КАТЕГОРИЮ</h2>
    <div class="categories-section__content">
      <ul class="categories-section__list list-reset">
        <li class="categories-section__item">
          <a class="categories-section__link" href="#">
            <img class="categories-section__img" src="img/categories-section/img-1.jpg" alt="img-1">
            <h5 class="categories-section__title">нитриловые <br> перчатки
              <span class="categories-section__span"></span>
            </h5>
          </a>
        </li>
        <li class="categories-section__item">
          <a class="categories-section__link" href="#">
            <img class="categories-section__img" src="img/categories-section/img-2.jpg" alt="img-1">
            <h5 class="categories-section__title">Перчатки <br> медицинские
              <span class="categories-section__span"></span>
            </h5>
          </a>
        </li>
        <li class="categories-section__item">
          <a class="categories-section__link" href="#">
            <img class="categories-section__img" src="img/categories-section/img-3.jpg" alt="img-1">
            <h5 class="categories-section__title">Смотровые <br> перчатки
              <span class="categories-section__span"></span>
            </h5>
          </a>
        </li>
        <li class="categories-section__item">
          <a class="categories-section__link" href="#">
            <img class="categories-section__img" src="img/categories-section/img-4.jpg" alt="img-1">
            <h5 class="categories-section__title">пищевая промышленность
              <span class="categories-section__span"></span>
            </h5>

          </a>
        </li>
        <li class="categories-section__item">
          <a class="categories-section__link" href="#">
            <img class="categories-section__img" src="img/categories-section/img-5.jpg" alt="img-1">
            <div class="categories-section__title-inner">
              <h5 class="categories-section__title">хозяйственные <br> перчатки
              <span class="categories-section__span"></span></h5>
            </div>
          </a>
        </li>
        <li class="categories-section__item">
          <a class="categories-section__link" href="#">

            <img class="categories-section__img" src="img/categories-section/img-6.jpg" alt="img-1">
            <h5 class="categories-section__title">ремонт и <br>строительство
              <span class="categories-section__span"></span>
            </h5>
            
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
