<section class="certificates-section">
  <div class="container certificates-section__container">
    <div class="certificates-section__content">
    <h2 class="section-title certificates-section__title">СЕРТИФИКАТЫ</h2>
    <p class="certificates-section__descr">
      ПЕРЧАТКА DERMAGRIP®Latex Coated LS Powder Free отвечает самым строгим международным требованиям качества.
    </p>

    <div class="swiper">
      <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img class="certificates-section__img" src="img/product/slider-img-1.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img class="certificates-section__img" src="img/product/slider-img-1.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img class="certificates-section__img" src="img/product/slider-img-1.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img class="certificates-section__img" src="img/product/slider-img-1.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img class="certificates-section__img" src="img/product/slider-img-1.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img class="certificates-section__img" src="img/product/slider-img-1.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img class="certificates-section__img" src="img/product/slider-img-1.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img class="certificates-section__img" src="img/product/slider-img-1.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img class="certificates-section__img" src="img/product/slider-img-1.jpg" alt="">
          </div>
      </div>

    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    </div>
  </div>
</section>
