<section class="company-section">
  <div class="container">
    <ul class="list-reset breadcrumbs page-hero__breadcrumbs">
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">Главная</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link">О компании</a>
      </li>
    </ul>
    <div class="company-section__content">
      <div class="company-section__left">
        <h2 class="section-title company-section__title">
          О КОМПАНИИ
        </h2>
        <p class="company-section__text">
          ТМН-ГРУПП УКРАИНА — уполномоченные предсставители ряда мировых производителей изделий медицинского назначения: WRP,
          Heliomed, LinkMed.
        </p>
        <p class="company-section__text">
          Мы — это коллектив опытных специалистов, профессиональная цель которых минимизировать риск заражений. Специализируясь в
          области медицинских и защитных перчаток, наши сотрудники имеют многолетний опыт в этой области и постоянно следят за
          развитием технологии и успешно продвигают мировые тенденции на отечественном рынке.
        </p>
        <p class="company-section__text">
          Продукция WRP предназначена для медицинских учреждений, стоматологических и ветеринарных центров. Также наши товары
          находят широкое применение на заводах пищевой, химической и фармацевтической промышленности, в домашнем хозяйстве, в
          салонах красоты и парикмахерских, в автосервисах и везде, где необходима защита рук.
        </p>
      </div>
      <div class="company-section__right">
        <div class="company-section__block-bg"></div>
        <div class="company-section__img-inner">
          <img class="company-section__img" src="img/company-section/content-img.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>



