<section class="contacts-section">
  <div class="container contacts-section__container">
    <ul class="list-reset breadcrumbs">
      <li class="breadcrumbs__item breadcrumbs__item--contacts">
        <a href="#" class="breadcrumbs__link breadcrumbs__link--contacts">Главная</a>
      </li>
      <li class="breadcrumbs__item breadcrumbs__item--contacts">
        <a class="breadcrumbs__link breadcrumbs__link--contacts">Контакты</a>
      </li>
    </ul>
    <h2 class="contacts-section__title">Контакты</h2>
    <ul class="contacts-section__list list-reset">
      <li class="contacts-section-item">
        <h6 class="contacts-section-item__title">КИЕВ</h6>
        <div class="contacts-section-item__content">
          <a class="contacts-section-item__phone contacts-section-item__link" href="tel:0444266444">(044)426-64-44</a>
          <a class="contacts-section-item__phone contacts-section-item__link" href="tel:0675703489">(067)570-34-89</a>
          <a class="contacts-section-item__location contacts-section-item__link" href="#">пр. Степана Бандеры, 21 оф. 422, 04655</a>
          <a class="contacts-section-item__email contacts-section-item__link" href="email:office@tmngroup.com.ua">office@tmngroup.com.ua</a>
        </div>

      </li>
      <li class="contacts-section-item">
        <h6 class="contacts-section-item__title">ХАРЬКОВ</h6>
        <div class="contacts-section-item__content">
          <a class="contacts-section-item__phone contacts-section-item__link" href="tel:0675404090">(067) 540-40-90</a>
          <a class="contacts-section-item__location contacts-section-item__link" href="#">пр. Степана Бандеры, 21 оф. 422,
            04655</a>
          <a class="contacts-section-item__email contacts-section-item__link"
            href="email:office@tmngroup.com.ua">office@tmngroup.com.ua</a>
        </div>
      </li>
      <li class="contacts-section-item">
        <h6 class="contacts-section-item__title">ДНЕПР</h6>
        <div class="contacts-section-item__content">
          <a class="contacts-section-item__phone contacts-section-item__link" href="tel:0676921275">(067) 692 12 75</a>
          <a class="contacts-section-item__location contacts-section-item__link" href="#">Пр. Кирова,78 (ТЦ Юность)</a>
        </div>
      </li>
      <li class="contacts-section-item">
        <h6 class="contacts-section-item__title">ЛЬВОВ</h6>
        <div class="contacts-section-item__content">

          <a class="contacts-section-item__phone contacts-section-item__link" href="tel:0322331020">(032)233 10 20</a>
          <a class="contacts-section-item__phone contacts-section-item__link" href="tel:0673136407">(067) 313 64 07</a>
          <a class="contacts-section-item__location contacts-section-item__link" href="#">ул. Шевченко, 31, офис 211</a>
        </div>
      </li>
    </ul>
  </div>
</section>

