<section class="delivery-section">
  <div class="container">
    <ul class="list-reset breadcrumbs">
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">Главная</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link">Оплата и доставка</a>
      </li>
    </ul>
    <div class="delivery-section-top">
      <div class="delivery-section-top__left">
        <h2 class="delivery-section-top__title--big">ОПЛАТА и ДОСТАВКА</h2>
      </div>
      <div class="delivery-section-top__right">
        <h6 class="delivery-section-top__title">Контакты для связи:</h6>
        <ul class="delivery-section-top__list list-reset">
          <li class="delivery-section-top__item">
            <a class="delivery-section-top__link" href="tel:0675404090">
              067 540 40 90
              <span class="delivery-section-top__name">Баулина Ольга</span>
            </a>
            <a class="delivery-section-top__link" href="tel:0676921275">
              067 692 12 75
              <span class="delivery-section-top__name">Тиселина Карина</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="delivery-section-bottom">
      <ul class="delivery-section-bottom__list list-reset">
        <li class="delivery-section-bottom__item">
          <p class="delivery-section-bottom__text">
            Доставка заказа осуществляется на отделение Новой Почты согласно тарифам этой курьерской службы.
          </p>
        </li>
        <li class="delivery-section-bottom__item">
          <p class="delivery-section-bottom__text">
            Для юридических лиц пакет всех необходимых документов предоставляется вместе с товаром.
          </p>
        </li>
        <li class="delivery-section-bottom__item">
          <p class="delivery-section-bottom__text">
            При заказе от 3000 грн доставку оплачивает отправитель.
          </p>
        </li>
        <li class="delivery-section-bottom__item">
          <p class="delivery-section-bottom__text">
            Перед отправкой все грузы проверяются и страхуются на полную стоимость.
          </p>
        </li>
        <li class="delivery-section-bottom__item">
          <p class="delivery-section-bottom__text">
            Отгрузка товара производится строго после полной предоплаты на р/с компании согласно счету, сформированного на основании
            Вашего заказа.
          </p>
        </li>
        <li class="delivery-section-bottom__item">
          <p class="delivery-section-bottom__text">
          Вы можете оплатить счет в кассе отделения любого банка или с расчетного счета Вашей фирмы. При оплате в отделениях ПАТ
          АЛЬФА-БАНК комиссию оплачивает продавец.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>

