<section class="excellence-section">
  <div class="container">
    <h2 class="section-title">Преимущества перчаток</h2>
    <div class="excellence-section__content">
    <div class="excellence-section-left">
      <ul class="excellence-section-left__list list-reset">
        <li class="excellence-section-left__item">Не пропускают воду</li>
        <li class="excellence-section-left__item">Одноразовое применение</li>
        <li class="excellence-section-left__item">Хранить в прохладном сухом месте</li>
        <li class="excellence-section-left__item">Без латекса</li>
      </ul>
    </div>
    <div class="excellence-section-right">
      <ul class="excellence-section-right__list list-reset">
        <li class="excellence-section-right__item">
          <span class="excellence-section-right__number">01</span>
          <p class="excellence-section-right__text">
            Не содержит латекса, исключен риск аллергий типа I на белки латекса
          </p>
        </li>
        <li class="excellence-section-right__item">
          <span class="excellence-section-right__number">02</span>
          <p class="excellence-section-right__text">
            Биоразлагаемый, экологичный материал
          </p>
        </li>
        <li class="excellence-section-right__item">
          <span class="excellence-section-right__number">03</span>
          <p class="excellence-section-right__text">
            Анатомическая форма и идеальный захват инструмента
          </p>
        </li>
        <li class="excellence-section-right__item">
          <span class="excellence-section-right__number">04</span>
          <p class="excellence-section-right__text">
            Специальное полимерное покрытие внутри упрощает надевание на влажные руки
          </p>
        </li>
        <li class="excellence-section-right__item">
          <span class="excellence-section-right__number">05</span>
          <p class="excellence-section-right__text">
            Превосходная устойчивость к разрывам, намного выше, чем у других синтетических материалов
          </p>
        </li>
        <li class="excellence-section-right__item">
          <span class="excellence-section-right__number">06</span>
          <p class="excellence-section-right__text">
            Специальный манжет препятствует разрывам при надевании и скатыванию перчатки, маркировка на манжете
          </p>
        </li>
      </ul>
    </div>
    </div>
  </div>
</section>
