<section class="form-section">
  <div class="container form-section__container">
    <div class="form-section__content">
    <h2 class="form-section__title">СЛЕДИТЕ ЗА ВСЕМИ АКЦИЯМИ И ВЫГОДНЫМИ ПРЕДЛОЖЕНИЯМИ ЛЕГКО</h2>
    <p class="form-section__descr">
      Отправьте нам свой электронный адрес и получайте все новости относительно выгодных предложений и акций нашей компании.
      Не упускайте шанс обеспечить свою защиту за лучшую цену!
    </p>
    </div>
    <form class="form-section__post" action="#" id="form">
      <label class="form-section__label">
        <input class="form-section__input" type="text" data-validate-field="name" placeholder="Имя">
      </label>
      <label class="form-section__label">
        <input class="form-section__input" type="tel" data-validate-field="tel" placeholder="Номер телефона">
      </label>
      <label class="form-section__label">
        <input class="form-section__input" type="mail" data-validate-field="email" placeholder="E-mail">
      </label>



      <button class="btn-fill form-section__btn btn-reset">Пoдпиcaтьcя</button>
    </form>
  </div>
  <div class="form-section__bg"></div>
</section>
