<header class="header" >
  <div class="container container__burger">
    <button class="btn-reset burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
      <span class="burger__line"></span>
    </button>
  </div>
  <div class="container header__container">
    <div class="header__wrapper">
    <a class="header__logo" href="#">
      <img src="img/header-logo.png" alt="logo">
    </a>
    <nav class="header-nav">
      <ul class="header-nav__list list-reset">
        <li class="header-nav__item">
          <button type="button" class="header-nav__btn  btn-reset">Наша продукция</button>
          <div class="dropdown">
            <div class="dropdown__flex">
            <ul class="dropdown__list list-reset">
              <li class="dropdown__item">
                <a class="dropdown__link dropdown__link-1" href="#">Перчатки нитриловые</a>
              </li>
              <li class="dropdown__item">
                <a class="dropdown__link dropdown__link-2" href="#">Стоматологические</a>
              </li>
              <li class="dropdown__item">
                <a class="dropdown__link dropdown__link-3" href="#">Перчатки латексные</a>
              </li>
              <li class="dropdown__item">
                <a class="dropdown__link dropdown__link-4" href="#">Для клиниговых работ</a>
              </li>
              <li class="dropdown__item">
                <a class="dropdown__link dropdown__link-5" href="#">Пищевая промышленность</a>
              </li>
              <li class="dropdown__item">
                <a class="dropdown__link dropdown__link-6" href="#">Сад / огород</a>
              </li>
              <li class="dropdown__item">
                <a class="dropdown__link dropdown__link-7" href="#">Перчатки медицинские</a>
              </li>
            </ul>
            <ul class="dropdown__list list-reset">
              <li class="dropdown__item">
                <a class="dropdown__link dropdown__link-8" href="#">Ремонт и строительство</a>
              </li>
              <li class="dropdown__item">
                <a class="dropdown__link dropdown__link-9" href="#">Перчатки хирургические</a>
              </li>
              <li class="dropdown__item">
                <a class="dropdown__link dropdown__link-10" href="#">Для салонов красоты</a>
              </li>
              <li class="dropdown__item">
                <a class="dropdown__link dropdown__link-11" href="#">Смотровые перчатки</a>
              </li>
              <li class="dropdown__item">
                <a class="dropdown__link dropdown__link-12" href="#">Хозяйственные перчатки</a>
              </li>
              <li class="dropdown__item">
                <a class="dropdown__link dropdown__link-13" href="#">Химическая промышленность<br> и фармацевтика</a>
              </li>

            </ul>
            </div>
          </div>
        </li>
        <li class="header-nav__item">
          <a class=" header-nav__link--green hover" href="#">О компании</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link " href="#">Блог</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link " href="#">Контакты</a>
        </li>
        <li class="header-nav__item">
        <div class="header__social-inner">
          <div class="header__social ">
           <label class="header__social-label header__social-label--mobile">
            <input class="header__social-input" type="search" placeholder="Поиск">
            <a class="header__social-btn" href="#">Найти</a>
          </label>
          </div>
         <div class="header__social header__social--mobile">
          <button class="header__btn-searth header__btn-searth-mobile btn-reset " type="button"></button>
          <a class="header__btn-cart header__btn-cart-mobile btn-reset">
            <span class="header__btn-cart-span"></span>
          </a>
        </div>
        </div>
        </li>
      </ul>

    </nav>
    <div class="header__valuta">
      <button class="header__valuta-btn btn-reset">UA</button>
      <button class="header__valuta-btn header__valuta-btn-ru btn-reset">RU</button>
    </div>
    <div class="header__tel">
      <a href="tel:0675703489" class="header__tel-number">(067) 570 34 89</a>
      <button class="header__tel-btn btn-reset" id="header__tel-btn" type="button"></button>
      <div class="dropdown-tel">
        <ul class="dropdown-tel__list list-reset">
          <li class="dropdown-tel__item">
            <a class="dropdown-tel__link" href="tel:0503456789">(050) 345 67 89</a>
          </li>
          <li class="dropdown-tel__item">
            <a class="dropdown-tel__link dropdown-tel__link--active" href="tel:0635703489">(050) 345 67 89</a>
          </li>
        </ul>
      </div>
    </div>
    </div>

    <div class="header__social-inner">
<label class="header__social-label header__social-label--desktop">
  <input class="header__social-input" type="search" placeholder="Поиск">
  <a class="header__social-btn" href="#">Найти</a>
</label>
    <div class="header__social header__social--desc">
      <button class="header__btn-searth header__btn-searth--desc btn-reset " type="button"></button>
      <a class="header__btn-cart header__btn-cart--desc" href="#">
        <span class="header__btn-cart-span"></span>
      </a>

    </div>
  </div>

</header>
