<section class="main-section">
  <div class="container main-section__container">
    <div class="main-section__content">
      <h1 class="main-section__title main-title">ТМН-ГРУПП УКРАИНА</h1>
      <p class="main-section__text">
        Уполномоченные представители ряда мировых производителей изделий медицинского назначения: WRP, Heliomed, LinkMed.
      </p>
      <p class="main-section__text">
        Ваш надежный партнер в области профилактики инфекций, связанных с оказанием медицинской помощи.
      </p>
      <a class="main-section__link" href="#">Просмотреть продукцию</a>
    </div>
    <div class="main-section__pictures">
      <ul class="main-section__list list-reset">
        <li class="main-section__item main-section__item--1">
          <img class="main-section__img" src="img/main-section-item-1.png" alt="img-item">
        </li>
        <li class="main-section__item main-section__item--2">
          <img class="main-section__img" src="img/main-section-item-2.png" alt="mg-item">
        </li>
        <li class="main-section__item main-section__item--3">
          <img class="main-section__img" src="img/main-section-item-3.png" alt="mg-item">
        </li>
      </ul>
    </div>
  </div>
</section>
