<section class="news-section">
  <div class="container">
    <div class="news-section__flex">
      <div class="news-section__left">
        <div class="section-title news-section__title">Новости</div>
      </div>
      <div class="news-section__right">
        <a class="news-section__link" href="#">Читать все статьи →</a>
      </div>
    </div>
    <ul class="news-section__list list-reset">
      <li class="news-section__item">
        <div class="news-section__img">
          <img src="img/news-section/img-1.jpg" alt="">
        </div>
        <div class="news-section__content">
          <h5 class="news-section__title-item">
            Особенности перчаток радиационной защиты
          </h5>
          <p class="news-section__descr">
            Защита от вредного воздействия рентгеновского излучения – ключевой момент, которым нельзя пренебрегать. От этого зависит
            здоровье людей..
          </p>
          <a class="btn-fill" href="#">Подробнее</a>
        </div>
      </li>
      <li class="news-section__item">
        <div class="news-section__img">
          <img src="img/news-section/img-2.jpg" alt="">
        </div>
        <div class="news-section__content">
          <h5 class="news-section__title-item">
            Виды хирургических перчаток
          </h5>
          <p class="news-section__descr">
            Как обеспечить защиту от инфекции во время проведения операции? Для этого предназначаются хирургические перчатки. Это
            средства..
          </p>

          <a class="btn-fill" href="#">Подробнее</a>
        </div>
      </li>
      <li class="news-section__item">
        <div class="news-section__img">
          <img src="img/news-section/img-3.jpg" alt="">
        </div>
        <div class="news-section__content">
          <h5 class="news-section__title-item">
            Какие перчатки лучше всего использовать в гинекологии?
          </h5>
          <p class="news-section__descr">
            Медицинские перчатки в гинекологии – залог здоровья медработника и пациента. Для больших организаций лучше всего ..
          </p>
          <a class="btn-fill" href="#">Подробнее</a>
        </div>
      </li>
      <li class="news-section__item">
        <div class="news-section__img">
          <img src="img/news-section/img-4.jpg" alt="">
        </div>
        <div class="news-section__content">
          <h5 class="news-section__title-item">
            Как ухаживать за кожей рук при длительном ношении перчаток?
          </h5>
          <p class="news-section__descr">
            Длительное ношение медицинских перчаток точно не принесет пользы ваших рукам. Но иногда других вариантов нет..
          </p>
          <a class="btn-fill" href="#">Подробнее</a>
        </div>
      </li>
    </ul>
  </div>
</section>

