<section class="paper-section">
  <div class="container">
    <h4 class="paper-section__title">Статьи</h4>
    <div class="paper-section__content">
      <article class="paper-section__flex">
        <img class="paper-section__img" src="img/search-completed/articles-1.jpg" alt="articles-1">
        <div class="paper-section__info">
          <h5 class="paper-section__title--content">Как ухаживать за кожей рук при длительном ношении перчаток?</h5>
          <p class="paper-section__text">
            Длительное ношение медицинских перчаток точно не принесет пользы ваших рукам. Но иногда других вариантов нет, поэтому мы
            решили помочь вам найти ..
          </p>
          <a class="paper-section__link btn-reset btn-fill" href="#">Подробнее</a>
        </div>
      </article>
      <article class="paper-section__flex">
        <img class="paper-section__img" src="img/search-completed/articles-2.jpg" alt="articles-1">
        <div class="paper-section__info">
          <h5 class="paper-section__title--content">Правила утилизации медицинских перчаток</h5>
          <p class="paper-section__text">
          По санитарно-гигиеническим нормам все медицинские, стоматологические и косметические компании обязаны правильно
          утилизировать ..
          </p>
          <a class="paper-section__link btn-reset btn-fill" href="#">Подробнее</a>
        </div>
      </article>
    </div>
  </div>
</section>
