<section class="prevention-section">
  <div class="container">
    <h2 class="prevention-section__title">
      профилактика распространения инфекции
    </h2>
    <h5 class="prevention-section__descr">
      техника снятия перчаток
    </h5>
    <p class="prevention-section__text">
      Ухватите перчатку около манжеты, не прикасаясь к голой руке, стяните перчатку, вывернув наизнанку.
      Не выпуская первой перчатки, просуньте пальцы под манжету второй перчатки и стяните ее, вывернув наизнанку.
    </p>
    <ul class="prevention-section__list list-reset">
      <li class="prevention-section__item">
        <span class="prevention-section__number">1</span>
        <div class="prevention-section__circle"></div>
        <img class="prevention-section__img" src="img/prevention-section/img-1.jpg" alt="prevention-section-img">
      </li>
      <li class="prevention-section__item">
        <span class="prevention-section__number">2</span>
        <div class="prevention-section__circle"></div>
        <img class="prevention-section__img" src="img/prevention-section/img-2.jpg" alt="prevention-section-img">
      </li>
      <li class="prevention-section__item">
        <span class="prevention-section__number">3</span>
        <div class="prevention-section__circle"></div>
        <img class="prevention-section__img" src="img/prevention-section/img-3.jpg" alt="prevention-section-img">
      </li>
      <li class="prevention-section__item">
        <span class="prevention-section__number">4</span>
        <div class="prevention-section__circle"></div>
        <img class="prevention-section__img" src="img/prevention-section/img-4.jpg" alt="prevention-section-img">
      </li>
      <li class="prevention-section__item">
        <span class="prevention-section__number">5</span>
        <div class="prevention-section__circle"></div>
        <img class="prevention-section__img" src="img/prevention-section/img-5.jpg" alt="prevention-section-img">
      </li>
      <li class="prevention-section__item">
        <span class="prevention-section__number">6</span>
        <div class="prevention-section__circle"></div>
        <img class="prevention-section__img" src="img/prevention-section/img-6.jpg" alt="prevention-section-img">
      </li>
    </ul>
  </div>
</section>
