<section class="product-section">
  <div class="container product-section__container">
    <ul class="list-reset breadcrumbs">
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">Главная</a>
      </li>
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">Перчатки латексные</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link">Хирургические перчатки Профил® ДГД Синтетические Неопудренные Стерильные</a>
      </li>
    </ul>
    <div class="card hidden product-section--card">
      <div class="card-content">
        <button class="card-content__btnclose btn-reset"></button>
        <h5 class="card-content__order">Ваш заказ</h5>
        <h5 class="card-content__empty">Корзина пуста</h5>
        <div class="card-content__wrapper" data-simplebar>
          <ul class="card-content__list list-reset">
            <li class="card-content__item" data-item>

            </li>
          </ul>
        </div>
        <div class="card-content__bottom">
          <div class="card-content__fullprice">
            <span class="card-content__total">Итого: </span>
            <span class="card-content__totalprice"> 0</span>
          </div>
          <a class="card-content__btn" href="#">Перейти →</a>
        </div>
      </div>
    </div>
      <ul class="product-section__list list-reset ">
            <li class="product-section__item all card-content__item card-item" data-id="01">
              <div class="product-section__img">
                <img class="product-section__img-image catalog-section__img-image" src="img/product/product-img.png" alt="img">
              </div>
              <div class="product-section-content">
                <h3 class="product-section-content__title catalog-section-content__title">
                ХИРУРГИЧЕСКИЕ ПЕРЧАТКИ ПРОФИЛ® ДГД СИНТЕТИЧЕСКИЕ НЕОПУДРЕННЫЕ СТЕРИЛЬНЫЕ
                </h3>
                <p class="product-section-content__descr">
                  Surgical gloves PROFEEL® DHD SYNTHETIC POWDER FREE, STERILE
                </p>
                <p class="product-section-content__text" data-items-in-box>
                  Хирургические Перчатки Синтетические (полихлоропрен) Без латекса, Неопудренные, ДГД покрытие, Стерильные
                  Микротекстурированные
                </p>
                <div class="product-section-radio">
                  <h6 class="product-section-radio__title">Размер</h6>
                  <label class="product-section-radio__label custom-radio" name="6,7">
                    <input class="visually-hidden radio" type="radio">
                    <span class="radio-style"></span>
                    6,0
                  </label>
                  <label class="product-section-radio__label custom-radio">
                    <input class="visually-hidden radio " type="radio" name="6,5">
                    <span class="radio-style radio-style--active"></span>
                    6,5
                  </label>
                  <label class="product-section-radio__label custom-radio">
                    <input class="visually-hidden radio" type="radio" name="7,0">
                    <span class="radio-style"></span>
                    7,0
                  </label>
                  <label class="product-section-radio__label custom-radio">
                    <input class="visually-hidden radio" type="radio" name="7,5">
                    <span class="radio-style"></span>
                    7,5
                  </label>
                  <label class="product-section-radio__label custom-radio">
                    <input class="visually-hidden radio" type="radio" name="8,0">
                    <span class="radio-style"></span>
                    8,0
                  </label>
                  <label class="product-section-radio__label custom-radio">
                    <input class="visually-hidden radio" type="radio" name="8,5">
                    <span class="radio-style"></span>
                    8,5
                  </label>
                  <label class="product-section-radio__label custom-radio">
                    <input class="visually-hidden radio" type="radio" name="9,0">
                    <span class="radio-style"></span>
                    9,0
                  </label>
                </div>
                <div class="product-section-purchase">
                  <label class="product-section-purchase__label catalog-section-purchase__label counter-wrapper">
                    <input class="product-section-purchase__input" type="button">
                    <span class="product-section-purchase__counter" data-counter>1</span>
                    <button class="product-section-purchase__btn product-section-purchase__btn--more btn-reset"
                      data-action="plus"></button>
                    <button class="product-section-purchase__btn product-section-purchase__btn--less btn-reset"
                      data-action="minus"></button>
                  </label>
                  <h6 class="product-section-purchase__new-price catalog-section-purchase__new-price">225 ₴</h6>
                  <s class="product-section-purchase__old-price">325 ₴</s>
                  <p class="product-section-purchase__condition">(при покупке от 10 уп)</p>
                </div>
                <div class="product-section-btns">
                  <button data-card class="btn-fill product-section-btns__btn btn-reset " id="btn-cart" >В
                    корзину</button>
                </div>
              </div>
            </li>
      </ul>
  </div>
</section>
