<section class="searth-completed-section">
  <div class="container searth-completed-section__container">
    <div class="searth-completed-section__content">
    <label class="searth-completed-section__label">
    <input class="searth-completed-section__search" type="search" name="search" id="searth-completed" placeholder="PROFEEL® DHD SYNTHETIC POWDER FREE, STERILE">
    <button class="searth-completed-section__btn btn-reset" type="submit"></button>
    </label>
    <h2 class="section-title searth-completed-section__title">Поиск</h2>
    <h4 class=" searth-completed-section__title--min">Товары</h4>
    <div class="card hidden card-searth">
      <div class="card-content">
        <button class="card-content__btnclose btn-reset"></button>
        <h5 class="card-content__order">Ваш заказ</h5>
        <h5 class="card-content__empty">Корзина пуста</h5>
        <div class="card-content__wrapper" data-simplebar>
          <ul class="card-content__list list-reset">
            <li class="card-content__item" data-item>

            </li>
          </ul>
        </div>
        <div class="card-content__bottom">
          <div class="card-content__fullprice">
            <span class="card-content__total">Итого: </span>
            <span class="card-content__totalprice"> 0</span>
          </div>
          <a class="card-content__btn" href="#">Перейти →</a>
        </div>
      </div>
    </div>
    <ul class="catalog-section__list list-reset card-content__list">
      <li class="catalog-section__item all card-content__item card-item" data-id="01">
        <div class="catalog-section__img">
          <img class="catalog-section__img-image" src="img/catalog-section-img.png" alt="img">
        </div>
        <div class="catalog-section-content">
          <h3 class="catalog-section-content__title">
            ПЕРЧАТКА DERMAGRIP® ULTRA NITRILE LS POWDER FREE
          </h3>
          <p class="catalog-section-content__descr">
            Examination Gloves DERMAGRIP® NITRILE STERILE
          </p>
          <p class="catalog-section-content__text" data-items-in-box>
            <span>Описание:</span> Смотровые Перчатки Нитриловые Без Латекса, Неопудреные, Нестерильные, Текстурированные
          </p>
          <p class="catalog-section-content__text">
            <span>Применение:</span> клинико-диагностические процедуры , стоматология, лабораторные исследования, фармация,
            пищевая
            промышленность, сад огород, строительство
          </p>
          <div class="catalog-section-radio">
            <h6 class="catalog-section-radio__title">Размер</h6>
            <label class="catalog-section-radio__label custom-radio" name="6,7">
              <input class="visually-hidden radio" type="radio">
              <span class="radio-style"></span>
              6,0
            </label>
            <label class="catalog-section-radio__label custom-radio">
              <input class="visually-hidden radio " type="radio" name="6,5">
              <span class="radio-style radio-style--active"></span>
              6,5
            </label>
            <label class="catalog-section-radio__label custom-radio">
              <input class="visually-hidden radio" type="radio" name="7,0">
              <span class="radio-style"></span>
              7,0
            </label>
            <label class="catalog-section-radio__label custom-radio">
              <input class="visually-hidden radio" type="radio" name="7,5">
              <span class="radio-style"></span>
              7,5
            </label>
            <label class="catalog-section-radio__label custom-radio">
              <input class="visually-hidden radio" type="radio" name="8,0">
              <span class="radio-style"></span>
              8,0
            </label>
            <label class="catalog-section-radio__label custom-radio">
              <input class="visually-hidden radio" type="radio" name="8,5">
              <span class="radio-style"></span>
              8,5
            </label>
            <label class="catalog-section-radio__label custom-radio">
              <input class="visually-hidden radio" type="radio" name="9,0">
              <span class="radio-style"></span>
              9,0
            </label>
          </div>
          <div class="catalog-section-purchase">
            <label class="catalog-section-purchase__label counter-wrapper">
              <input class="catalog-section-purchase__input" type="button">
              <span class="catalog-section-purchase__counter" data-counter>1</span>
              <button class="catalog-section-purchase__btn catalog-section-purchase__btn--more btn-reset"
                data-action="plus"></button>
              <button class="catalog-section-purchase__btn catalog-section-purchase__btn--less btn-reset"
                data-action="minus"></button>
            </label>
            <h6 class="catalog-section-purchase__new-price">225 ₴</h6>
            <s class="catalog-section-purchase__old-price">325 ₴</s>
            <p class="catalog-section-purchase__condition">(при покупке от 10 уп)</p>
          </div>
          <div class="catalog-section-btns">
            <button data-card class="btn-fill catalog-section-btns__btn btn-reset" type="button" id="btn-cart">В
              корзину</button>
            <a class="btn-border catalog-section-btns__btn--detail btn-reset" href="#">Подробнее</a>
          </div>
        </div>
      </li>
      <li class="catalog-section__item all card-content__item card-item" data-id="02">
        <div class="catalog-section__img">
          <img class="catalog-section__img-image" src="img/catalog-section-img.png" alt="img">
        </div>
        <div class="catalog-section-content">
          <h3 class="catalog-section-content__title">
            ПЕРЧАТКА DERMAGRIP® ULTRA NITRILE LS POWDER FREE 2
          </h3>
          <p class="catalog-section-content__descr">
            Examination Gloves DERMAGRIP® NITRILE STERILE
          </p>
          <p class="catalog-section-content__text">
            <span>Описание:</span> Смотровые Перчатки Нитриловые Без Латекса, Неопудреные, Нестерильные, Текстурированные
          </p>
          <p class="catalog-section-content__text">
            <span>Применение:</span> клинико-диагностические процедуры , стоматология, лабораторные исследования, фармация,
            пищевая
            промышленность, сад огород, строительство
          </p>
          <div class="catalog-section-radio">
            <h6 class="catalog-section-radio__title">Размер</h6>
            <label class="catalog-section-radio__label custom-radio" name="6,7">
              <input class="visually-hidden radio" type="radio">
              <span class="radio-style"></span>
              6,0
            </label>
            <label class="catalog-section-radio__label custom-radio">
              <input class="visually-hidden radio " type="radio" name="6,5">
              <span class="radio-style radio-style--active"></span>
              6,5
            </label>
            <label class="catalog-section-radio__label custom-radio">
              <input class="visually-hidden radio" type="radio" name="7,0">
              <span class="radio-style"></span>
              7,0
            </label>
            <label class="catalog-section-radio__label custom-radio">
              <input class="visually-hidden radio" type="radio" name="7,5">
              <span class="radio-style"></span>
              7,5
            </label>
            <label class="catalog-section-radio__label custom-radio">
              <input class="visually-hidden radio" type="radio" name="8,0">
              <span class="radio-style"></span>
              8,0
            </label>
            <label class="catalog-section-radio__label custom-radio">
              <input class="visually-hidden radio" type="radio" name="8,5">
              <span class="radio-style"></span>
              8,5
            </label>
            <label class="catalog-section-radio__label custom-radio">
              <input class="visually-hidden radio" type="radio" name="9,0">
              <span class="radio-style"></span>
              9,0
            </label>
          </div>
          <div class="catalog-section-purchase">
            <label class="catalog-section-purchase__label">
              <input class="catalog-section-purchase__input" type="button">
              <span class="catalog-section-purchase__counter" data-counter>1</span>
              <button class="catalog-section-purchase__btn catalog-section-purchase__btn--more btn-reset"
                data-action="plus"></button>
              <button class="catalog-section-purchase__btn catalog-section-purchase__btn--less btn-reset"
                data-action="minus"></button>
            </label>
            <h6 class="catalog-section-purchase__new-price">225 ₴</h6>
            <s class="catalog-section-purchase__old-price">325 ₴</s>
            <p class="catalog-section-purchase__condition">(при покупке от 10 уп)</p>
          </div>
          <div class="catalog-section-btns">
            <button data-card class="btn-fill catalog-section-btns__btn btn-reset" type="button" id="btn-cart">В
              корзину</button>
            <a class="btn-border catalog-section-btns__btn--detail btn-reset" href="#">Подробнее</a>
          </div>
        </div>
      </li>

    </ul>
    </div>
  </div>
</section>
