<section class="search-nothing-section">
  <div class="container ssearch-nothing-section__container">
    <div class="search-nothing-section__content">
    <label class="search-nothing-section__label">
    <input class="search-nothing-section__search" type="search" name="search" id="searth-completed" placeholder="PROFEEL® DHD SYNTHETIC POWDER FREE, STERILE">
    <button class="search-nothing-section__btn btn-reset" type="submit"></button>
    </label>
    <h2 class="section-title search-nothing-section__title">Поиск</h2>
    <p class="search-nothing-section__text">
      Извините, но ничего не соответствует условиям вашего поиска.
      Пожалуйста, попытайтесь снова с другими ключевыми словами.
    </p>

    </div>
  </div>
</section>
