<section class="specialism-section">
  <div class="container">
  <div class="specialism-section__content">
    <div class="specialism-section__left">
      <h2 class="specialism-section__title">ООО «ТМН-ГРУПП УКРАиНА»</h2>
    </div>
    <div class="specialism-section__right">
      <p class="specialism-section__text">
        Мы специализируемся на поставках современных качественных и профессионально подобранных медицинских изделий. В настоящее
        время компания занимает лидирующие позиции на рынке оптовых продаж одноразовых медицинских изделий.
      </p>

    </div>
  </div>
  <ul class="specialism-section__list list-reset">
    <li class="specialism-section__item specialism-section__item--icon-1">
      <p class="specialism-section__item-text">Предлагаем исключительно высококачественный и сертифицированный товар</p>
    </li>
    <li class="specialism-section__item specialism-section__item--icon-2">
      <p class="specialism-section__item-text">17 лет высоко стандарта обслуживания</p>
    </li>
    <li class="specialism-section__item specialism-section__item--icon-3">
      <p class="specialism-section__item-text">Быстрое оформление без подписок и взносов</p>
    </li>
    <li class="specialism-section__item specialism-section__item--icon-4">
      <p class="specialism-section__item-text">Возможность заключения долгосрочного партнерства</p>
    </li>
  </ul>
  </div>
</section>
