<section class="tabs-section">
  <div class="container">
    <h2 class="is-hidden">tabs-section</h2>
    <div class="tabs">
    <ul class="tabs-section__list list-reset">
      <li class="tabs-section__item">
        <button class="tabs-section__btn tabs-btn tabs-btn--active  btn-reset"data-tab="tab-1">Описание</button>
      </li>
      <li class="tabs-section__item">
        <button class="tabs-section__btn  tabs-btn btn-reset"data-tab="tab-2">Детали</button>
      </li>
      <li class="tabs-section__item">
        <button class="tabs-section__btn  tabs-btn btn-reset"data-tab="tab-3">Хранение / Применение</button>
      </li>
    </ul>
    <div class="tabs-section-description tabs-item" data-tab-content id="tab-1">
      <h3 class="tabs-section__title">Общая информация</h3>
    <ul class="tabs-section-description__list list-reset">
      <li class="tabs-section-description__item">
        <span class="tabs-section-description__name">Тип:</span>
        <p class="tabs-section-description__text">
          Неопудренные, полиизопреновые перчатки с полимерным покрытием DHD ™ , стерилизованные гамма-излучением
        </p>
      </li>
      <li class="tabs-section-description__item">
        <span class="tabs-section-description__name">Материал:</span>
        <p class="tabs-section-description__text">
          Полиизопрен
        </p>
      </li>
      <li class="tabs-section-description__item">
        <span class="tabs-section-description__name">Пудра:</span>
        <p class="tabs-section-description__text">
          Полимерное покрытие DHD ™
        </p>
      </li>
      <li class="tabs-section-description__item">
        <span class="tabs-section-description__name">Цвет:</span>
        <p class="tabs-section-description__text">
          Натуральный
        </p>
      </li>
      <li class="tabs-section-description__item">
        <span class="tabs-section-description__name">Дизайн:</span>
        <p class="tabs-section-description__text">
          На правую и левую руки, анатомический изгиб пальцев, валик на манжете
        </p>
      </li>
      <li class="tabs-section-description__item">
        <span class="tabs-section-description__name">Упаковка:</span>
        <p class="tabs-section-description__text">
          Блок 50 пар. 1 пара (1 левая и 1 правая перчатки) в индивидуальной упаковке, 1 упаковка в пачке, 50 пачек в диспенсере,
          4 диспенсера в коробке
        </p>
      </li>
      <li class="tabs-section-description__item">
        <span class="tabs-section-description__name"> Медицинское изделие:</span>
        <p class="tabs-section-description__text">
          В соответствии с Европейской директивой о лекарственных средствах 93/42/EEC, type tested to EN 455-1:2000, EN
          455-2:2015, EN 455-3:2015, EN 455-4:2009 and ASTM D3577, CE0086 Class Ila Sterile
        </p>
      </li>
      <li class="tabs-section-description__item">
        <span class="tabs-section-description__name">Средство индивидуальной защиты:</span>
        <p class="tabs-section-description__text">
          Сложной конструкции Категория III, в соответствии с 89/686/EEC, тестировано EN 420:2003+A1:2009, EN 374-12003, EN
          374-3:2003 .N 388:2003, CE 0086 ASTM D6319
        </p>
      </li>
      <li class="tabs-section-description__item">
        <span class="tabs-section-description__name">Гарантия качества:</span>
        <p class="tabs-section-description__text">
          Положение системы качества FDA США (QSR) ISO90001 Система менеджмента качества BS EN ISO13485 Система качеств
        </p>
      </li>
    </ul>
    </div>
    <div class="tabs-section-details tabs-item is-hidden" data-tab-content id="tab-2" >

      <div class="tabs-section-thickness">
        <h3 class="tabs-section__title">Толщина</h3>
        <div class="tabs-section-thickness__wrapper">
      <ul class="tabs-section-thickness__list list-reset">
        <h6 class="tabs-section-thickness__title">Локации измерений</h6>
        <li class="tabs-section-thickness__item">Пальцы (15 мм от крайней точки)</li>
        <li class="tabs-section-thickness__item">Ладонь (середина ладони)</li>
        <li class="tabs-section-thickness__item">Манжета (25 мм от края манжеты)</li>
      </ul>



        <ul class="tabs-section-thickness__list list-reset">
          <h6 class="tabs-section-thickness__title">Толщина стенки (мм)</h6>
          <li class="tabs-section-thickness__item">0.22 ±0.03</li>
          <li class="tabs-section-thickness__item">0.18 ± 0.03</li>
          <li class="tabs-section-thickness__item">0.15 ± 0.02</li>
        </ul>
        </div>
        <div class="tabs-section-dimensions">
          <h3 class="tabs-section__title">Размеры</h3>
          <table>
            <tr>
              <th>Размер перчатки</th>
              <th>Вес перчатки (г.)</th>
              <th>Артикул</th>
              <th>Ширина ладони (мм)</th>
              <th>Длина (мм)</th>
            </tr>
            <tr>
              <td class="left">5.5</td>
              <td></td>
              <td>ЕP-12-55 </td>
              <td>72±4 </td>
              <td>278 </td>
            </tr>
            <tr>
              <td class="left"> 6</td>
              <td>10 </td>
              <td>ЕP-12-60 </td>
              <td>77±5 </td>
              <td>280</td>
            </tr>
            <tr>
              <td class="left">6.5</td>
              <td>10,6 </td>
              <td>ЕP-12-65 </td>
              <td>83±5 </td>
              <td>280 </td>
            </tr>
            <tr>
              <td class="left">7</td>
              <td>10,7 </td>
              <td>ЕP-12-70 </td>
              <td>89±5</td>
              <td>283 </td>
            </tr>
            <tr>
              <td class="left">7.5</td>
              <td>11,2 </td>
              <td>ЕP-12-75 </td>
              <td>95±5 </td>
              <td>287 </td>
            </tr>
            <tr>
              <td class="left">8</td>
              <td>11,6</td>
              <td>ЕP-12-80 </td>
              <td>102±6 </td>
              <td>288 </td>
            </tr>
            <tr>
              <td class="left">8.5 </td>
              <td>12,4 </td>
              <td>ЕP-12-85 </td>
              <td>108±6 </td>
              <td>290 </td>
            </tr>
            <tr>
              <td class="left">9 </td>
              <td></td>
              <td>ЕP-12-90</td>
              <td>114±6 </td>
              <td>290 </td>
            </tr>
          </table>
        </div>
      </div>

    </div>
    <div class="tabs-section-storage tabs-item is-hidden" data-tab-content id="tab-3">
      <div class="tabs-section-storage__left">
        <h3 class="tabs-section__title">Применение</h3>
      <ul class="tabs-section-storage__list list-reset">
        <li class="tabs-section-storage__item">
          Как СИЗ в клинико-диагностических, амбулаторных процедурах и осмотрах;
        </li>
        <li class="tabs-section-storage__item">
          В терапевтических и педиатрических процедурах для забора биоматериала, ухода за пациентами;
        </li>
        <li class="tabs-section-storage__item">
          Не использовать повторно;
        </li>
        <li class="tabs-section-storage__item">
          Нежелательно носить перчатки более 2 часов;
        </li>
        <li class="tabs-section-storage__item">
          Не применять при обнаружении разрывов поверхности перчатки;
        </li>
        <li class="tabs-section-storage__item">
          При длительном использовании может потребоваться дополнительный уход за кожей рук;
        </li>
        <li class="tabs-section-storage__item">
          Избегать попадания прямых солнечных лучей и флуоресцентного освещения.
        </li>
      </ul>
      </div>
      <div class="tabs-section-storage__rigth">
        <h3 class="tabs-section__title">ХРАНЕНИЕ</h3>
        <ul class="tabs-section-storage__list list-reset">
          <li class="tabs-section-storage__item">
            Хранить 3 года с даты изготовления при температуре 0-25°С;
          </li>
          <li class="tabs-section-storage__item">
            При температуре до 40°С срок хранения – до 2х месяцев;
          </li>
          <li class="tabs-section-storage__item">
            Не хранить вблизи генерирующего озон оборудования (например, ртутные лампы, высоковольтные электроприборы или другие,
            вызывающие электрические искры или разряды);
          </li>
          <li class="tabs-section-storage__item">
            Избегать контакта с масляными антисептическими фенолами или их производными, смазками, вазелином, нефтяным спиртом,
            парафином или другими родственными соединениями;
          </li>
          <li class="tabs-section-storage__item">
            Перчатки не должны находиться в непосредственном контакте с такими металлами как медь, марганец и железо.
          </li>
        </ul>
      </div>
    </div>
  </div>
  </div>
</section>











