<section class="text-section-product">
  <div class="container">
    <h2 class="section-title text-section__title">ХИРУРГИЧЕСКИЕ ПЕРЧАТКИ ПРОФИЛ</h2>
    <div class="text-section__content">
      <p class="text-section__text">
        Медицинские нитриловые перчатки DERMAGRIP® Nitrile Ultra LS обеспечивают защиту от нежелательных и опасных веществ как
        для медицинских работников, так и для пациентов. Соответствуют всем международным стандартам качества и обеспечивают
        предельную защиту. Специальное покрытие, способствует легкому и быстрому надеванию перчатки на сухие и влажные руки.
      </p>
      <p class="text-section__text">
      Перчатки изготовлены из 100% нитрила, предлагая альтернативное решение для людей, страдающих аллергией на латекс.
      Используется для лечебно-диагностических процедур, осмотров и ухода за пациентами, а также при всех видах процедур, не
      требующих стерильности.
      </p>
      <p class="text-section__text text-hidden">
        Максимальный комфорт и защита. Перчатки DERMAGRIP ULTRA LS текстурированные на кончиках пальцев, что обеспечивает
        надежный захват и контроль инструмента в сухой и влажной среде. Обладают высокой устойчивостью к спиртам,
        спиртосодержащим веществам и дезинфектантам.
      </p>
      <p class="text-section__text text-hidden">
        Медицинские нитриловые перчатки DERMAGRIP® Nitrile Ultra LS обеспечивают защиту от нежелательных и опасных веществ как
        для медицинских работников, так и для пациентов. Соответствуют всем международным стандартам качества и обеспечивают
        предельную защиту. Специальное покрытие, способствует легкому и быстрому надеванию перчатки на сухие и влажные руки.
      </p>
    </div>
    <button class="text-section__btn btn-reset" id="text-btn">Читать дальше</button>
  </div>
</section>




