<section class="text-section">
  <div class="container">
    <h2 class="section-title text-section__title">Сео текст</h2>
    <div class="text-section__content">
      <p class="text-section__text">
      Mattis ultrices condimentum in enim, etiam nunc praesent ultricies. Sagittis, tellus augue tellus sed ornare nisi massa
      cras enim. Dolor iaculis diam neque interdum. Lorem lorem nascetur donec aenean condimentum volutpat dictum parturient
      volutpat. Scelerisque at elit orci, amet purus. Senectus varius semper hendrerit pellentesque purus est. Suscipit
      viverra velit mauris nisl in non massa quis. Aliquet convallis velit sed amet id accumsan, adipiscing luctus.
      </p>
      <p class="text-section__text">
      Porttitor risus praesent adipiscing massa justo dolor praesent eget dignissim. Nisi, pellentesque dictumst et dui a,
      nulla aliquet a, eu. Proin cras enim condimentum euismod lacus amet elementum ut venenatis. Quis aenean porttitor in
      dictum fermentum, amet integer diam odio. Iaculis id integer nunc, auctor pulvinar felis. Purus sit turpis gravida
      pharetra integer ipsum, sed velit. A fusce tristique nibh volutpat praesent nunc egestas a iaculis.
      </p>
      <p class="text-section__text text-hidden">
        Porttitor risus praesent adipiscing massa justo dolor praesent eget dignissim. Nisi, pellentesque dictumst et dui a,
        nulla aliquet a, eu. Proin cras enim condimentum euismod lacus amet elementum ut venenatis. Quis aenean porttitor in
        dictum fermentum, amet integer diam odio. Iaculis id integer nunc, auctor pulvinar felis. Purus sit turpis gravida
        pharetra integer ipsum, sed velit. A fusce tristique nibh volutpat praesent nunc egestas a iaculis.
      </p>
      <p class="text-section__text text-hidden">
        Porttitor risus praesent adipiscing massa justo dolor praesent eget dignissim. Nisi, pellentesque dictumst et dui a,
        nulla aliquet a, eu. Proin cras enim condimentum euismod lacus amet elementum ut venenatis. Quis aenean porttitor in
        dictum fermentum, amet integer diam odio. Iaculis id integer nunc, auctor pulvinar felis. Purus sit turpis gravida
        pharetra integer ipsum, sed velit. A fusce tristique nibh volutpat praesent nunc egestas a iaculis.
      </p>
    </div>
    <button class="text-section__btn btn-reset" id="text-btn">Читать дальше</button>
  </div>
</section>


