<section class="viewed-section">
  <div class="container">
    <div class="viewed-section__flex">
      <div class="viewed-section__left">
      <h2 class="section-title viewed-section__title">Вы недавно просматривали</h2>
      </div>
    </div>
    <ul class="viewed-section__list list-reset">
      <li class="viewed-section__item">
        <div class="viewed-section__img">
          <img src="img/popular-section/img-1.png" alt="">
        </div>
        <div class="viewed-section__content">
        <h5 class="viewed-section__title-item">
          ПЕРЧАТКА DERMAGRIP® ULTRA NITRILE LS POWDER FREE
        </h5>
        <p class="viewed-section__descr">
          Хирургические Перчатки Синтетические (полиизопрен) Без латекса, Неопудренные, ДГД покрытие, Стерильные
          Микротекстурированные
        </p>
        <span class="viewed-section__price">225 ₴</span>
        <span class="viewed-section__col">(при покупке от 10 уп)</span>
        <a class="btn-fill" href="#">Подробнее</a>
        </div>
      </li>
      <li class="viewed-section__item">
        <div class="viewed-section__img">
          <img  src="img/popular-section/img-2.png" alt="">
        </div>
        <div class="viewed-section__content">
        <h5 class="viewed-section__title-item">
          ХИРУРГИЧЕСКИЕ ПЕРЧАТКИ ПРОФИЛ® ДГД ДВОЙНАЯ СИСТЕМА ОДЕВАНИЯ БЕЗ ЛАТЕКСА СТЕРИЛЬНЫЕ
        </h5>
        <p class="viewed-section__descr">
          Хирургические Двойные Перчатки Без латекса Синтетические (полиизопрен) Неопудренные
        </p>
        <span class="viewed-section__price">225 ₴</span>
        <span class="viewed-section__col">(при покупке от 10 уп)</span>
        <a class="btn-fill" href="#">Подробнее</a>
        </div>
      </li>
      <li class="viewed-section__item">
        <div class="viewed-section__img">
          <img src="img/popular-section/img-1.png" alt="">
        </div>
        <div class="viewed-section__content">
        <h5 class="viewed-section__title-item">
          СМОТРОВЫЕ ПЕРЧАТКИ DERMAGRIP® УЛЬТРА ЛС НИТРИЛОВЫЕ НЕОПУДРЕННЫЕ
        </h5>
        <p class="viewed-section__descr">
          Смотровые Перчатки Нитриловые Без Латекса, Неопудреные, Нестерильные, Текстурированные
        </p>
        <span class="viewed-section__price">225 ₴</span>
        <span class="viewed-section__col">(при покупке от 10 уп)</span>
        <a class="btn-fill" href="#">Подробнее</a>
        </div>
      </li>
      <li class="viewed-section__item">
        <div class="viewed-section__img">
          <img src="img/popular-section/img-4.png" alt="">
        </div>
        <div class="viewed-section__content">
        <h5 class="viewed-section__title-item">
          СМОТРОВЫЕ ПЕРЧАТКИ DERMAGRIP® УЛЬТРА НИТРИЛОВЫЕ НЕОПУДРЕННЫЕ
        </h5>
        <p class="viewed-section__descr">
          Смотровые Перчатки Нитриловые Без Латекса, Неопудреные, Нестерильные, Текстурированные
        </p>
        <span class="viewed-section__price">225 ₴</span>
        <span class="viewed-section__col">(при покупке от 10 уп)</span>
        <a class="btn-fill" href="#">Подробнее</a>
        </div>
      </li>
    </ul>
  </div>
</section>
